# Backend
PORT=5000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=premium_account_store
DB_USER=root
DB_PASSWORD=password

# JWT
JWT_SECRET=change_this_secret_key

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
